@import url('https://fonts.googleapis.com/css2?family=Karla&family=Raleway:wght@500;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.titleContent {
    padding-top: 30px;
}

.title {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 0.8;
}

.titleText {
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    font-weight: 18px;
    padding-top: 10px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    flex-wrap: wrap;
}

.card {
    width: 24%;
    border: 1px solid rgba(0, 0, 0, 0.371);
}

.card:hover {
    box-shadow: 10px 10px 52px -19px rgba(0, 0, 0, 0.43);
    transition: all .3s;
}

.cardTitle {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1.2;
    text-transform: uppercase;
    padding: 30px 0 15px;
    text-align: center;
}

.cardText {
    padding: 15px;
    color: rgba(0, 0, 0, 0.703);
    text-align: center;
}

.cardTextSpan {
    color: orange;
    font-weight: bold;
}

.cardList {
    text-decoration: none;
    list-style: none;
    padding: 30px 0 40px;
    color: rgba(0, 0, 0, 0.703);
    text-align: center;
}

.cardLi {
    padding-top: 20px;
}

.cardBtn {
    text-transform: uppercase;
    padding: 15px;
    width: 50%;
    border-radius: 50px;
    margin: 0 auto;
    background: rgb(103, 207, 248);
    color: #fff;
    margin-bottom: 40px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
}

.cardBtn:hover {
    background: rgb(95, 201, 243);
    transition: all ease .5s;
}

.cardSpan{
    position: relative;
}

.cardImg {
    position: absolute;
}


@media (max-width: 1280px){
    .card{
        width: 43%;
        margin: 30px 0 30px;
    }
}

@media (max-width: 768px){
    .card{
        width: 60%;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 30px;

    }
}

